{% extends "layout/base.html.j2" %}

{% block title %}
    Home Page
{% endblock title %}
{% block content %}
<div class="max-w-3xl my-8">
    <h2 class="bg-indigo-500 text-white font-bold p-2 text-2xl">Hotwire ToDo Demo</h2>
    <div class="p-2 border">
        <turbo-frame id="todos" src="/todos">
            <p>Loading...</p>
        </turbo-frame>
    </div>
    <form data-controller="add_todo" data-action="turbo:submit-end->add_todo#reset"
        action="/todos" method="POST" class="mt-4 flex rounded-md shadow-sm items-center" >
        <div class="grow focus-within:z-10">
            <input type="text" name="text" class="block w-full rounded-none rounded-l-md border-0 py-1.5 pl-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="ToDo">
        </div>
        <button type="submit" class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-gray-300 bg-indigo-500">
            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
        </button>
    </form>
</div>
{% endblock content %}