<turbo-stream action="remove" target="nothing-todo"></turbo-stream>
<turbo-stream action="append" target="todo-items">
    <template>
        {% include "frames/todo.html.j2" %}
    </template>
</turbo-stream>