<turbo-frame id="todos">
  <ul class="grid grid-cols-1 space-y-2" id="todo-items">
    {% for todo in todos %}
      {% include "components/todo.html.j2" %}
    {% endfor %}
  </ul>
  {% if todos | length == 0 %}
    <div
      id="nothing-todo"
      class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-rose-500 focus:ring-offset-2"
    >
      <svg
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="mx-auto h-12 w-12 text-gray-400"
      >
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 019 9v.375M10.125 2.25A3.375 3.375 0 0113.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 013.375 3.375M9 15l2.25 2.25L15 12" />
      </svg>
      <span class="mt-2 block text-sm font-semibold text-gray-900">Nothing todo</span>
    </div>
  {% endif %}
</turbo-frame>