<turbo-frame id="message_{{ todo.id }}">
    <li class="p-2 even:bg-gray-50 odd:bg-white">
        <div class="flex space-x-2 items-center">
            <span class="grow {% if todo.is_done %}line-through{%  endif %}">{{  todo.text  }}</span>
            {% if not todo.is_done %}
            <form action="/todos/{{ todo.id }}" method="PUT">
                <input type="hidden" id="todo_id" name="id" value="{{ todo.id }}" />
                <input type="hidden" id="todo_text" name="text" value="{{ todo.text }}" />
                <input type="hidden" id="todo_is_done" name="is_done" value="True" />
                <button type="submit" class="bg-gray-200 text-green-700 p-2">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                </button>
            </form>
            {%  endif %}
        </div>
    </li>
</turbo-frame>