<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ title }}{% endblock title %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link href="{{ url_for('static', path='/dist/global.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', path='/dist/index.js') }}"></script>
</head>

<body class="h-full flex flex-col text-gray-500">
{% include "layout/header.html.j2" %}
<main class="grow">
  {% block content %}
  {% endblock content %}
</main>
{% include "layout/footer.html.j2" %}
<script src="{{ url_for('static', path='/vendor/tinymce/tinymce.min.js') }}"></script>
</body>
</html>